#Bandeau {
    width: 100%;
    display: flex;
    background-color: green;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}

.container_menu {
    display: flex;
    flex-direction: column;
    float: left;
    width: 15%;
    height: 90vh;
    font-size: 250%;
}

#menu_haut {
    display: flex;
    background-color: fuchsia;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

#menu_bas {
    display: flex;
    background-color: yellow;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.contenu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex-flow: row;
}

#Contenu {
    width: 100%;
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    height: 90vh;
    flex-direction: column;
}

#news {
    display: flex;
    position: absolute;
    background-color: chocolate;
    width: 25%;
    height: 25%;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}

#pied_de_page {
    width: 100%;
    display: flex;
    background-color: brown;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}

#text {
    margin-top: 10%;
}

#blue {
    color: blue;
    font-size: 20px;
}

#red {
    color: red;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}


.table_red {
    color: red;
    font-size: 15px;
}

.table_vert {
    display: flex;
    color: green;
    font-size: 15px;
    justify-content: center;
}

.table_blue {
    display: flex;
    color: blue;
    font-size: 15px;
    justify-content: center;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;

}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}